@import url('https://fonts.googleapis.com/css2?family=Playfair Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald');

:root {
    --bodyBackgroundColor: #EEE9E3;
    --headerBackgroundColor: #C5A586;
    --headerNavBackgroundColor: #E7D6C6;
    --headerNavButtonColor: #D4D6D5;
    --footerBackgroundColor: #474747;
    --textColor: #474747;
}

*, *::before *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

/* Mobile */

body {
    background-color: var(--bodyBackgroundColor);
}

/* HEADER MOBILE */

header {
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
    .header-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 23%;
        padding: 2em;
        background-color: var(--headerBackgroundColor);
    }

    .header-buttons {
        width: 2em;
        max-height: 1.9em;
        background: none;
        border: none;
        padding: .1em .5em .2em .5em;
        font-size: 3.2em;
    }

    header picture {
        min-width: 5em;
    }

    #night-mode-button {
        overflow: hidden;
    }

    #switch-up {
        display: inline-block;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
    }

    .desktop-header-img {
       display: none;
    }

    .mobile-header-img {
        width: 100%;
        height: 100%;
    }

    header nav {
        background-color: var(--headerNavBackgroundColor);
        display: none;
        flex-direction: column;
        padding: 4em;
        gap: 1em;
    }

    header nav a {
        font-size: 4em;
        text-decoration: none;
        color: var(--textColor);
        margin-left: .75em;
    }

    header nav button {
        margin-top: 1em;
        background-color: var(--headerNavButtonColor);
        border-radius: 10px;
        box-shadow: 0 6px 8px #474747;
        font-family: 'Oswald', sans-serif;
    }

/* MAIN MOBILE */

main {
    min-height: 150em;
}

/* FOOTER MOBILE */

footer {
    background-color: var(--footerBackgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em 0 .5em 0;
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
}

    footer * {
        margin-bottom: .7em;
    }

    .footer-site-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 80%;
    }

    .footer-nav-links a {
        text-decoration: none;
        color: #D4D6D5;
        font-size: 1.5em;
    }

    .footer-nav-button {
        background-color: #D4D6D5;
        padding: .5em 2em .5em 2em;
        border-radius: 10px;
        box-shadow: 0 6px 8px #474747;
    }

    .footer-nav-button a {
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        font-size: 2.5em;
        color: #474747;
    }

    .contact-us {
        text-align: center;
        font-size: 1.5em;
        color: #D4D6D5;
        margin-bottom: 0;
    }

    .contact-us h3 {
        text-decoration: underline;
    }

    .contact-us-info {
        display: flex;
        flex-direction: column;
    }

    .info-spacing {
        display: none;
    }

    .social-nav {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    .fa {
        padding: 1.5em 1.7em 1.5em 1.7em;
        text-align: center;
        text-decoration: none;
        border-radius: 40%;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .copyright {
        color: #c0c2c1;
        text-align: center;
    }

    .legal-links a {
        text-decoration: none;
        text-align: center;
        margin-bottom: 0;
        color: #b3b5b4;
    }

    .hidden-symbols {
        display: none;
    }

/* LARGER MOBILE 512px */

@media only screen and (min-width: 32em) {
    /* HEADER LARGER MOBILE */

    .header-body {
        gap: 30%;
    }

    header picture {
        min-width: 6em;
    }

    /* MAIN LARGER MOBILE */

    /* FOOTER LARGER MOBILE */

    .footer-nav-links a {
        text-decoration: none;
        color: #D4D6D5;
        font-size: 2.5em;
    }

    .footer-nav-button {
        padding: .7em 2.2em .7em 2.2em;
    }

    .social-nav {
        font-size: 2.5rem;
    }

    .fa {
        padding: 1.5em 1.6em 1.5em 1.6em;
    }

    .fa-facebook {
        padding: 1.5em 1.75em 1.5em 1.75em;
    }
}

/* Tablet 768px */

@media only screen and (min-width: 48em) {

    /* HEADER TABLET */

    .header-body {
        gap: 22%;
    }

    .mobile-header-img {
        display: none;
    }

    .desktop-header-img {
        display: block;
    }

    /* MAIN TABLET */


    /* FOOTER TABLET */

    footer {
        padding: 3em 0 .5em 0;
    }

    footer * {
        margin-bottom: 1em;
    }

    .contact-us {
        font-size: 2em;
    }

    .contact-us h3 {
        font-size: 1.2em;
    }

    .contact-us-info {
        flex-direction: row;
        gap: 1em;
    }

    .info-spacing {
        display: block;
    }

    .copyright {
        font-size: 1.4em;
    }

    .legal-links {
        font-size: 1em;
    }
}

/* Desktop 1024 */

@media only screen and (min-width: 64em) {

    /* HEADER DESKTOP */

    .header-body {
        gap: 30%;
    }

    header nav {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: .75em;
    }

    .header-buttons {
        font-size: 4em;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
    }

    .header-buttons:hover {
        transform: translateY(10%);
    }

    /*#switch-up {
        display: inline-block;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
    }*/

    .header-buttons {
        cursor: pointer;
    }

    header nav a:hover {
        color: #d03f2c;
        -webkit-transition: color 500ms linear;
        -moz-transition: color 500ms linear;
        -ms-transition: color 500ms linear;
        -o-transition: color 500ms linear;
        transition: color 500ms linear;
    }

    header nav button {
        margin: 0;
        padding: 1em 2.5em 1em 0;
        font-size: 1em;
        transition: transform 1s;
    }

    header nav button:hover {
        transform: translateY(10%);
    }

    .footer-nav-links:hover {
        color: #d03f2c;
        -webkit-transition: color 500ms linear;
        -moz-transition: color 500ms linear;
        -ms-transition: color 500ms linear;
        -o-transition: color 500ms linear;
        transition: color 500ms linear;
    }

    .footer-nav-button {
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
    }

    .footer-nav-button:hover {
        transform: translateY(10%);
    }

    .fa {
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
    }

    .fa:hover {
        transform: translateY(10%);
        opacity: 70%;
    }

    /* MAIN DESKTOP */

    /* FOOTER DESKTOP */

}